@import "../../../styles/variables";

.form-button {
  line-height: 45px;
  height: 45px;
  font-size: @mainFontSize;
  color: @mainContrastColor;
  padding: 0 25px;
  border-radius: @formBorderRadius;
  transition: border @animationSlowTime linear;
  cursor: pointer;

  &-primary {
    color: @mainContrastColor;
    background: @colorActive;

    &:hover {
      background: @colorActiveDarker;
    }
  }

  &-secondary{
    color: @formBorderActiveColor;
    background: @mainContrastColor;

    &:hover{
      text-decoration: underline;
    }
  }

  &:focus{
    opacity: 0.8;
  }

  &-disabled {
    opacity: 0.7;
    background: @disableColor;
  }
}
