/*-------Fonts---------*/
@mainFont: 'Lato', sans-serif;
@mainTextColor: #200;
@activeTextColor: #ffd700;
@mainSpacing: 0.5px;


/*-------Layouts---------*/
@mainBorderColor: #CCC;
@mainBoxShadow: 0 0 4px 2px rgb(212,217,216,0.1); //( 0 0 - to samo miejsce co obiekt, 4px i 2px przesuniecie)

/*-------Animation---------*/
@animationFastTime: 0.3s;
@animationSlowTime: 0.7s;
