@import "../../../styles/variables";

.form-button {
  line-height: 45px;
  height: 45px;
  font-size: @mainFontSize;
  color: @mainContrastColor;
  padding: 0 25px;
  border-radius: @formBorderRadius;
  transition: border @animationSlowTime linear;

}
